<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title>实验三</title>
    <link rel="stylesheet" href="../../css/element.css">
    <link rel="stylesheet" href="../../css/base.css">
</head>
<body>
<div id="wrapper" v-cloak>
    <div style="padding-bottom: 10px">
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item @click.native="parent.changeIndex('index')">首页</el-breadcrumb-item>
            <el-breadcrumb-item>实验三  国标方法</el-breadcrumb-item>
        </el-breadcrumb>
    </div>

    <div style="height: 1px; margin: 10px 0; background-color: white"></div>
    <template>
        <el-card style="margin-top:20px">
            <h2>实验要求</h2>
            <span>根据 GBT36964-2018 软件开发成本度量规范，规模估算所采用的方法，应根据项目特点和估算需求，
                选用已发布的 SJ/T 11617-2016 、 SJ/T 11618-2016 、 SJ/T 11619-2016 、
                SJ/T 11620-2016 和ISO/IEC 20296:2009 五种功能规模测量标准中的一种。
                请自由选择五种标准之一，完成实验。
            </span>
        </el-card>
        <el-card style="margin-top:20px;margin-bottom:20px">
            <el-form :model="entity" ref="entity">
                <h2>实验报告 </h2>
                <hr style="margin-top:20px;margin-bottom:10px"/>
                <el-form-item >
                    <h3>所选标准</h3>
                    <el-input rows="1" type="textarea" v-model="entity.thestandard"></el-input>
                </el-form-item>
                <el-form-item >
                    <h3>功能点（个数、权重等）</h3>
                    <el-input rows="10" type="textarea" v-model="entity.funcpoint"></el-input>
                </el-form-item>
                <el-form-item >
                    <h3>其他参数（各种系数、影响因子等）</h3>
                    <el-input rows="10" type="textarea" v-model="entity.otherparam"></el-input>
                </el-form-item>
                <el-form-item >
                    <h3>结论</h3>
                    <el-input rows="5" type="textarea" v-model="entity.theconclusion"></el-input>
                </el-form-item>
            </el-form>
        </el-card>

        <el-row style="margin-top: 20px ;margin-right: 20px">
            <el-button  :disabled='isEdit_1' @click="submit()">提交</el-button>
            <el-button  :disabled='isEdit_1' @click="save()">暂存</el-button>
            <el-button  :disabled='isEdit_2' @click="submitAgain()">再次提交</el-button>
            <el-button type="text" @click="dialogFormVisible = true" >查看上次提交/暂存内容</el-button>
        </el-row>


    </template>
    <el-dialog title="历史提交/暂存内容" :visible.sync="dialogFormVisible" width="40%" :close-on-click-modal="false">

        <h4>选用标准</h4>
        <span>{{this.seeEntity.thestandard}}</span></br>
        <h4>功能点（个数、权重等）</h4>
        <span>{{this.seeEntity.funcpoint}}</span></br>
        <h4>其他参数（各种系数、影响因子等）</h4>
        <span>{{this.seeEntity.otherparam}}</span></br>
        <h4>结论</h4>
        <span>{{this.seeEntity.theconclusion}}</span></br>
    </el-dialog>
</div>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/vue.min.js"></script>
<script src="../../js/element.js"></script>
<script src="../../js/tinymce/tinymce.min.js"></script>
<style>
    .el-table td {
        padding: 18px 0;
    }
    .el-table th {
        padding: 12px 0;
    }
    .el-table__body tr,
    .el-table__body td {
        padding: 0;
        height: 40px;
    }
</style>

<script>
    let urlBase;
    urlBase = "/api/reportThree/";
    new Vue({
        el: "#wrapper",
        data: {
            user: {},
            pageNum: 1,
            pageSize: 10,
            total: 0,
            dialogFormVisible: false,

            isCollapse: false,
            search: '',
            active: 0,//激活页面
            isEdit_1:false,
            isEdit_2:true,
            entity:{
                id:0,
                thestandard:'',
                funcpoint:'',
                otherparam:'',
                theconclusion:'',
                submited:0,
                the_score:0,
                corrected:0,
                submited:0,
                the_score:0,
                corrected:0,
            },
            seeEntity:{
                id:0,
                thestandard:'',
                funcpoint:'',
                otherparam:'',
                theconclusion:'',
                submited:0,
                the_score:0,
                corrected:0,
                submited:0,
                the_score:0,
                corrected:0,
            },
        },
        created() {
            this.user = sessionStorage.getItem("user") ? JSON.parse(sessionStorage.getItem("user")) : {};
            this.entity.id=this.user.id;
            this.loadTable()
        },
        methods: {
            handleCollapse() {
                this.isCollapse = !this.isCollapse;
            },
            logout() {
                $.get("/api/user/logout");
                sessionStorage.removeItem("user");
                location.href = "/page/end/login.html";
            },
            exp() {
                window.open(urlBase + "/export");
            },
            next() {
                if (this.active++ > 2) this.active = 2
            },
            last(){
                if (this.active-- < 0 ) this.active = 0
            },
            loadTable() {
                $.get(urlBase + "/" + this.entity.id).then(res => {
                    if (res.data == null)
                    {
                        console.log(res);
                    }
                    else
                    {
                        console.log(res);
                        this.seeEntity=res.data;
                        this.isEdit_1=true;
                        this.isEdit_2=false;
                    }
                })
            },
            save() {
                // console.log(this.entity)
                // this.entity.report_id = 0;
                this.entity.submited = 0;
                $.ajax({
                    url: urlBase,
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify(this.entity)
                }).then(res => {
                    if (res.code === '0') {
                        this.$message({
                            message: "保存成功",
                            type: "success"
                        });
                        this.loadTable();
                    } else {
                        this.$message({
                            message: res.msg,
                            type: "error"
                        })
                    }
                    this.entity = {}
                    $.get(urlBase + "/" + this.user.id).then(res => {
                        console.log(res)
                    })
                    console.log("res:" + res)
                    this.dialogFormVisible = false;
                })
            },
            submit() {
                // console.log(this.entity)
                this.entity.submited = 1;
                $.ajax({
                    url: urlBase,
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify(this.entity)
                }).then(res => {
                    if (res.code === '0') {
                        this.$message({
                            message: "保存成功",
                            type: "success"
                        });
                        this.loadTable();
                    } else {
                        this.$message({
                            message: res.msg,
                            type: "error"
                        })
                    }
                    this.entity = {}
                    $.get(urlBase + "/" + this.user.id).then(res => {
                        console.log(res)
                    })
                    console.log("res:" + res)
                    this.dialogFormVisible = false;
                })
            },
            submitAgain() {
                console.log(this.entity)
                // this.entity.report_id = 1,
                this.entity.submited = 1;
                $.ajax({
                    url: urlBase,
                    type: 'PUT',
                    contentType: "application/json",
                    data: JSON.stringify(this.entity)
                }).then(res => {
                    if (res.code === '0') {
                        this.$message({
                            message: "保存成功",
                            type: "success"
                        });
                        this.loadTable();
                    } else {
                        this.$message({
                            message: res.msg,
                            type: "error"
                        })
                    }
                    this.entity = {}
                    $.get(urlBase + "/" + this.user.id).then(res => {
                        console.log(res)
                    })
                    console.log("res:" + res)
                    this.dialogFormVisible = false;
                })
            },
        }
    })
</script>
</body>
</html>