<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title>实验一</title>
    <link rel="stylesheet" href="../../css/element.css">
    <link rel="stylesheet" href="../../css/base.css">
</head>
<body>
<div id="wrapper" v-cloak>
    <div style="padding-bottom: 10px">
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item @click.native="parent.changeIndex('index')">首页</el-breadcrumb-item>
            <el-breadcrumb-item>实验一  IFPUG法</el-breadcrumb-item>
        </el-breadcrumb>
    </div>

    <div style="height: 1px; margin: 10px 0; background-color: white"></div>
    <template>
        <el-steps :active="active" finish-status="success" align-center>
            <el-step title="Step 1" description="填写规模估算明细"></el-step>
            <el-step title="Step 2" description="填写通用系统特征调整参数"></el-step>
            <el-step title="Step 3" description="计算FP"></el-step>
        </el-steps>

        <el-row v-show="active === 0"  style="margin-top: 20px">
            <el-space wrap>
                <el-form :model="listModel" ref="listModel">
                    <el-table style="width: 100%" :span-method="objectSpanMethod" align="center" :data="listModel.stepOneData" border stripe>
                        <el-table-column prop="theType" label="功能点类型" align="center"></el-table-column>
                        <el-table-column prop="theLevel" label="评级"  align="center"></el-table-column>
                        <el-table-column label="要素" align="center">
                            <el-table-column prop="theWeight" label="功能点权重" align="center"></el-table-column>
                            <el-table-column prop="theNumber" label="功能点个数" align="center">
                                <template slot-scope="scope">
                                    <el-form-item :prop="'stepOneData.' + scope.$index + '.'+'theNumber'" :rules="skuRule.theNumber">
                                        <el-input
                                                style="margin-top:15px"
                                                placeholder="请输入"
                                                v-model="scope.row.theNumber"
                                                @change="settheNumber(scope.row)"
                                                clearable></el-input>
                                    </el-form-item>
                                </template>
                            </el-table-column>
                        </el-table-column>



                    </el-table>
                </el-form>

                <el-row style="margin-top: 20px ;margin-right: 20px">
                    <el-button @click="next">下一步</el-button>
                    <el-button  :disabled='isEdit_1' @click="submit()">提交</el-button>
                    <el-button  :disabled='isEdit_1' @click="save()">暂存</el-button>
                    <el-button  :disabled='isEdit_2' @click="submitAgain()">再次提交</el-button>
                    <el-button type="text" @click="dialogFormVisible = true" >查看上次提交/暂存内容</el-button>
                </el-row>
            </el-space>
        </el-row>

        <el-row v-show="active === 1" style="margin-top: 20px" >
            <el-form :model="listModel" ref="listModel">
            <el-table :data="listModel.stepTwoData" style="width: 100%" border stripe>
                <el-table-column prop="GSC" label="通用系统特征"  align="center"></el-table-column>
                <el-table-column prop="score" label="影响程度DI" align="center">
                        <template slot-scope="scope">
                            <el-form-item :prop="'stepTwoData.' + scope.$index + '.'+'theNumber'" :rules="skuRule.theNumber">
                                <el-input-number
                                        style="margin-top:15px"
                                        v-model="scope.row.score"
                                        @change="settheScore(scope.row)"
                                        :min="0"
                                        :max="5"
                                ></el-input-number>
                            </el-form-item>
                        </template>
                    </el-table-column>
                </el-table-column>
            </el-table>
            </el-form>
            <el-row style="margin-top: 20px ;margin-right: 20px">
                <el-button  @click="last">上一步</el-button>
                <el-button  @click="next">下一步</el-button>
                <el-button  :disabled='isEdit_1' @click="submit()">提交</el-button>
                <el-button  :disabled='isEdit_1' @click="save()">暂存</el-button>
                <el-button  :disabled='isEdit_2' @click="submitAgain()">再次提交</el-button>
                <el-button type="text" @click="dialogFormVisible = true" >查看上次提交/暂存内容</el-button>
            </el-row>

        </el-row>
        <el-row v-show="active === 2" :gutter="20">
            <el-row style="margin-top: 20px ;margin-right: 20px">
                <el-card style="margin-bottom:20px">
                    <h3>计算结果：</h3>
                    <span>TDI = Σ DI = {{this.tdi}}</span></br>
                    <span>UFP = ∑∑ Ｗ × Ｘ = {{this.ufp}}</span></br>
                    <span>VAF = TDI × 0.01 + 0.65 = {{this.VAF}}</span></br>
                    <span>FP = ufp × VAF = {{this.FP}}</span>
                </el-card>
                <el-button  @click="last">上一步</el-button>
                <el-button  :disabled='isEdit_1' @click="submit()">提交</el-button>
                <el-button  :disabled='isEdit_1' @click="save()">暂存</el-button>
                <el-button  :disabled='isEdit_2' @click="submitAgain()">再次提交</el-button>
                <el-button type="text" @click="dialogFormVisible = true" >查看上次提交/暂存内容</el-button>
            </el-row>

        </el-row>

    </template>
    <el-dialog title="历史提交/暂存内容" :visible.sync="dialogFormVisible" width="40%" :close-on-click-modal="false">
        <h4>步骤一</h4>
        <span>内部逻辑文件(ILF)低权重功能点个数：{{this.seeEntity.num1}}</span></br>
        <span>内部逻辑文件(ILF)中权重功能点个数：{{this.seeEntity.num2}}</span></br>
        <span>内部逻辑文件(ILF)高权重功能点个数：{{this.seeEntity.num3}}</span></br>
        <span>外部接口文件(ELF)低权重功能点个数：{{this.seeEntity.num4}}</span></br>
        <span>外部接口文件(ELF)中权重功能点个数：{{this.seeEntity.num5}}</span></br>
        <span>外部接口文件(ELF)高权重功能点个数：{{this.seeEntity.num6}}</span></br>
        <span>外部输入(EI)低权重功能点个数：{{this.seeEntity.num7}}</span></br>
        <span>外部输入(EI)中权重功能点个数：{{this.seeEntity.num8}}</span></br>
        <span>外部输入(EI)高权重功能点个数：{{this.seeEntity.num9}}</span></br>
        <span>外部输出(EO)低权重功能点个数：{{this.seeEntity.num10}}</span></br>
        <span>外部输出(EO)中权重功能点个数：{{this.seeEntity.num11}}</span></br>
        <span>外部输出(EO)高权重功能点个数：{{this.seeEntity.num12}}</span></br>
        <span>外部查询(EQ)低权重功能点个数：{{this.seeEntity.num13}}</span></br>
        <span>外部查询(EQ)中权重功能点个数：{{this.seeEntity.num14}}</span></br>
        <span>外部查询(EQ)高权重功能点个数：{{this.seeEntity.num15}}</span></br>
        <h4>步骤二</h4>
        <span>数据通信(Data Communication)的影响程度：{{this.seeEntity.score1}}</span></br>
        <span>分布数据处理(Distributed Data Processing)的影响程度：{{this.seeEntity.score2}}</span></br>
        <span>性能(Performance)的影响程度：{{this.seeEntity.score3}}</span></br>
        <span>重度使用配置(Heavily used Configuration)的影响程度：{{this.seeEntity.score4}}</span></br>
        <span>事务率(Transaction Rate)的影响程度：{{this.seeEntity.score5}}</span></br>
        <span>在线数据输入(Oneline Data Entry)的影响程度：{{this.seeEntity.score6}}</span></br>
        <span>终端数据输入(End-User Efficiency)的影响程度：{{this.seeEntity.score7}}</span></br>
        <span>在线更新(Online Update)的影响程度：{{this.seeEntity.score8}}</span></br>
        <span>复杂处理(Data Communication)的影响程度：{{this.seeEntity.score9}}</span></br>
        <span>可重用性(Reusability)的影响程度：{{this.seeEntity.score10}}</span></br>
        <span>安装简易性(Installation Ease)的影响程度：{{this.seeEntity.score11}}</span></br>
        <span>易操作性(Operational Ease)的影响程度：{{this.seeEntity.score12}}</span></br>
        <span>多站点(Multiple Sites)的影响程度：{{this.seeEntity.score13}}</span></br>
        <span>便于更改(Facilitate Change)的影响程度：{{this.seeEntity.score14}}</span></br>
    </el-dialog>
</div>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/vue.min.js"></script>
<script src="../../js/element.js"></script>
<script src="../../js/tinymce/tinymce.min.js"></script>
<style>
    .el-table td {
        padding: 18px 0;
    }
    .el-table th {
        padding: 12px 0;
    }
    .el-table__body tr,
    .el-table__body td {
        padding: 0;
        height: 40px;
    }
</style>

<script>
    let urlBase;
    urlBase = "/api/reportOne/";
    new Vue({
        el: "#wrapper",
        data: {
            user: {},
            tableData: [],
            pageNum: 1,
            pageSize: 10,
            total: 0,
            dialogFormVisible: false,

            isCollapse: false,
            search: '',
            active: 0,//激活页面
            isEdit_1:false,
            isEdit_2:true,
            ufp:0,
            VAF:0,
            tdi:0,
            FP:0,

            listModel: {
                stepOneData: [
                    {
                        serialNumber:1,
                        theType:"内部逻辑文件(ILF)",
                        theLevel:"低",
                        theWeight:"2",
                        theNumber:0,
                    },
                    {
                        serialNumber:2,
                        theType:"内部逻辑文件(ILF)",
                        theLevel:"中",
                        theWeight:"7",
                        theNumber:0,
                    },
                    {
                        serialNumber:3,
                        theType:"内部逻辑文件(ILF)",
                        theLevel:"高",
                        theWeight:"10",
                        theNumber:0,
                    },
                    {
                        serialNumber:4,
                        theType:"外部接口文件(ELF)",
                        theLevel:"低",
                        theWeight:"7",
                        theNumber:0,
                    },
                    {
                        serialNumber:5,
                        theType:"外部接口文件(ELF)",
                        theLevel:"中",
                        theWeight:"10",
                        theNumber:0,
                    },
                    {
                        serialNumber:6,
                        theType:"外部接口文件(ELF)",
                        theLevel:"高",
                        theWeight:"15",
                        theNumber:0,
                    },
                    {
                        serialNumber:7,
                        theType:"外部输入(EI)",
                        theLevel:"低",
                        theWeight:"3",
                        theNumber:0,
                    },
                    {
                        serialNumber:8,
                        theType:"外部输入(EI)",
                        theLevel:"中",
                        theWeight:"4",
                        theNumber:0,
                    },
                    {
                        serialNumber:9,
                        theType:"外部输入(EI)",
                        theLevel:"高",
                        theWeight:"6",
                        theNumber:0,
                    },
                    {
                        serialNumber:10,
                        theType:"外部输出(EO)",
                        theLevel:"低",
                        theWeight:"4",
                        theNumber:0,
                    },
                    {
                        serialNumber:11,
                        theType:"外部输出(EO)",
                        theLevel:"中",
                        theWeight:"5",
                        theNumber:0,
                    },
                    {
                        serialNumber:12,
                        theType:"外部输出(EO)",
                        theLevel:"高",
                        theWeight:"7",
                        theNumber:0,
                    },
                    {
                        serialNumber:13,
                        theType:"外部查询(EQ)",
                        theLevel:"低",
                        theWeight:"3",
                        theNumber:0,
                    },
                    {
                        serialNumber:14,
                        theType:"外部查询(EQ)",
                        theLevel:"中",
                        theWeight:"4",
                        theNumber:0,
                    },
                    {
                        serialNumber:15,
                        theType:"外部查询(EQ)",
                        theLevel:"高",
                        theWeight:"6",
                        theNumber:0,
                    },
                ],
                stepTwoData: [
                    {
                        serialNumber:1,
                        GSC:'数据通信(Data Communication)',
                        score:0,
                    },
                    {
                        serialNumber:2,
                        GSC:'分布数据处理(Distributed Data Processing)',
                        score:0,
                    },
                    {
                        serialNumber:3,
                        GSC:'性能(Performance)',
                        score:0,
                    },
                    {
                        serialNumber:4,
                        GSC:'重度使用配置(Heavily used Configuration',
                        score:0,
                    },
                    {
                        serialNumber:5,
                        GSC:'事务率(Transaction Rate)',
                        score:0,
                    },
                    {
                        serialNumber:6,
                        GSC:'在线数据输入(Oneline Data Entry)',
                        score:0,
                    },
                    {
                        serialNumber:7,
                        GSC:'终端数据输入(End-User Efficiency)',
                        score:0,
                    },
                    {
                        serialNumber:8,
                        GSC:'在线更新(Online Update)',
                        score:0,
                    },
                    {
                        serialNumber:9,
                        GSC:'复杂处理(Data Communication)',
                        score:0,
                    },
                    {
                        serialNumber:10,
                        GSC:'可重用性(Reusability)',
                        score:0,
                    },
                    {
                        serialNumber:11,
                        GSC:'安装简易性(Installation Ease)',
                        score:0,
                    },
                    {
                        serialNumber:12,
                        GSC:'易操作性(Operational Ease)',
                        score:0,
                    },
                    {
                        serialNumber:13,
                        GSC:'多站点(Multiple Sites)',
                        score:0,
                    },
                    {
                        serialNumber:14,
                        GSC:'便于更改(Facilitate Change)',
                        score:0,
                    },
                ]
            },
            skuRule:[],
            entity:{
                id:0,
                num1:0,
                num2:0,
                num3:0,
                num4:0,
                num5:0,
                num6:0,
                num7:0,
                num8:0,
                num9:0,
                num10:0,
                num11:0,
                num12:0,
                num13:0,
                num14:0,
                num15:0,
                score1:0,
                score2:0,
                score3:0,
                score4:0,
                score5:0,
                score6:0,
                score7:0,
                score8:0,
                score9:0,
                score10:0,
                score11:0,
                score12:0,
                score13:0,
                score14:0,
                ufp:0,
                tdi:0,
                submited:0,
                the_score:0,
                corrected:0,
                },
            seeEntity:{
                id:0,
                num1:0,
                num2:0,
                num3:0,
                num4:0,
                num5:0,
                num6:0,
                num7:0,
                num8:0,
                num9:0,
                num10:0,
                num11:0,
                num12:0,
                num13:0,
                num14:0,
                num15:0,
                score1:0,
                score2:0,
                score3:0,
                score4:0,
                score5:0,
                score6:0,
                score7:0,
                score8:0,
                score9:0,
                score10:0,
                score11:0,
                score12:0,
                score13:0,
                score14:0,
                ufp:0,
                tdi:0,
                submited:0,
                the_score:0,
                corrected:0,
            },
        },
        created() {
            this.user = sessionStorage.getItem("user") ? JSON.parse(sessionStorage.getItem("user")) : {};
            this.entity.id=this.user.id;
            // console.log(this.listModel.sku_list);
            this.loadTable()
        },
        methods: {
            handleCollapse() {
                this.isCollapse = !this.isCollapse;
            },
            logout() {
                $.get("/api/user/logout");
                sessionStorage.removeItem("user");
                location.href = "/page/end/login.html";
            },
            exp() {
                window.open(urlBase + "/export");
            },
            next() {
                if (this.active++ > 2) this.active = 2
            },
            last(){
                if (this.active-- < 0 ) this.active = 0
            },
            loadTable() {
                $.get(urlBase + "/" + this.entity.id).then(res => {
                    if (res.data == null)
                    {
                        console.log(res);
                    }
                    else
                    {
                        console.log(res);
                        this.seeEntity=res.data;
                        this.isEdit_1=true;
                        this.isEdit_2=false;
                    }
                })
                this.tdi=this.entity.score1+this.entity.score2+this.entity.score3+this.entity.score4+this.entity.score5+this.entity.score6+this.entity.score7+this.entity.score8+this.entity.score9+this.entity.score10+this.entity.score11+this.entity.score12+this.entity.score13+this.entity.score14
            },
            settheNumber(id){
                console.log("Num changed")
                if (id.serialNumber == 1) {
                    this.entity.num1 = id.theNumber;
                    console.log(this.entity.num1)
                }
                if (id.serialNumber == 2) {
                    this.entity.num2 = id.theNumber;
                    console.log(this.entity.num2)
                }
                if (id.serialNumber == 3) {
                    this.entity.num3 = id.theNumber;
                    console.log(this.entity.num3)
                }
                if (id.serialNumber == 4) {
                    this.entity.num4 = id.theNumber;
                    console.log(this.entity.num4)
                }
                if (id.serialNumber == 5) {
                    this.entity.num5 = id.theNumber;
                    console.log(this.entity.num5)
                }
                if (id.serialNumber == 6) {
                    this.entity.num6 = id.theNumber;
                    console.log(this.entity.num6)
                }
                if (id.serialNumber == 7) {
                    this.entity.num7 = id.theNumber;
                    console.log(this.entity.num7)
                }
                if (id.serialNumber == 8) {
                    this.entity.num8 = id.theNumber;
                    console.log(this.entity.num8)
                }
                if (id.serialNumber == 9) {
                    this.entity.num9 = id.theNumber;
                    console.log(this.entity.num9)
                }
                if (id.serialNumber == 10) {
                    this.entity.num10 = id.theNumber;
                    console.log(this.entity.num10)
                }
                if (id.serialNumber == 11) {
                    this.entity.num11 = id.theNumber;
                    console.log(this.entity.num11)
                }
                if (id.serialNumber == 12) {
                    this.entity.num12 = id.theNumber;
                    console.log(this.entity.num12)
                }
                if (id.serialNumber == 13) {
                    this.entity.num13 = id.theNumber;
                    console.log(this.entity.num13)
                }
                if (id.serialNumber == 14) {
                    this.entity.num14 = id.theNumber;
                    console.log(this.entity.num14)
                }
                if (id.serialNumber == 15) {
                    this.entity.num15 = id.theNumber;
                    console.log(this.entity.num15)
                }
                this.ufp=2*this.entity.num1+7*this.entity.num2+10*this.entity.num3+7*this.entity.num4+10*this.entity.num5+15*this.entity.num6+3*this.entity.num7+4*this.entity.num8+6*this.entity.num9+4*this.entity.num10+5*this.entity.num11+7*this.entity.num12+3*this.entity.num13+4*this.entity.num14+6*this.entity.num15;
                this.FP = this.ufp * this.VAF;
                },
            settheScore(id){
                console.log("Score changed")
                if (id.serialNumber == 1) {
                    this.entity.score1 = id.score;
                    console.log(this.entity.score1)
                }
                if (id.serialNumber == 2) {
                    this.entity.score2 = id.score;
                    console.log(this.entity.score2)
                }
                if (id.serialNumber == 3) {
                    this.entity.score3 = id.score;
                    console.log(this.entity.score3)
                }
                if (id.serialNumber == 4) {
                    this.entity.score4 = id.score;
                    console.log(this.entity.score4)
                }
                if (id.serialNumber == 5) {
                    this.entity.score5 = id.score;
                    console.log(this.entity.score5)
                }
                if (id.serialNumber == 6) {
                    this.entity.score6 = id.score;
                    console.log(this.entity.score6)
                }
                if (id.serialNumber == 7) {
                    this.entity.score7 = id.score;
                    console.log(this.entity.score7)
                }
                if (id.serialNumber == 8) {
                    this.entity.score8 = id.score;
                    console.log(this.entity.score8)
                }
                if (id.serialNumber == 9) {
                    this.entity.score9 = id.score;
                    console.log(this.entity.score9)
                }
                if (id.serialNumber == 10) {
                    this.entity.score10 = id.score;
                    console.log(this.entity.score10)
                }
                if (id.serialNumber == 11) {
                    this.entity.score11 = id.score;
                    console.log(this.entity.score11)
                }
                if (id.serialNumber == 12) {
                    this.entity.score12 = id.score;
                    console.log(this.entity.score12)
                }
                if (id.serialNumber == 13) {
                    this.entity.score13 = id.score;
                    console.log(this.entity.score13)
                }
                if (id.serialNumber == 14) {
                    this.entity.score14 = id.score;
                    console.log(this.entity.score14)
                }
                this.tdi=this.entity.score1+this.entity.score2+this.entity.score3+this.entity.score4+this.entity.score5+this.entity.score6+this.entity.score7+this.entity.score8+this.entity.score9+this.entity.score10+this.entity.score11+this.entity.score12+this.entity.score13+this.entity.score14
                this.VAF = this.tdi * 0.01 + 0.65;
                this.FP = this.ufp * this.VAF;
            },
            objectSpanMethod({ row, column, rowIndex, columnIndex }) {
                if (columnIndex === 0) {
                    if (rowIndex % 3 === 0) {
                        return {
                            rowspan: 3,
                            colspan: 1,
                        }
                    } else {
                        return {
                            rowspan: 0,
                            colspan: 0,
                        }
                    }
                }
            },
            save() {
                // console.log(this.entity)
                // this.entity.report_id = 0;
                this.entity.submited = 0;
                this.entity.ufp=this.ufp;
                this.entity.tdi=this.tdi;
                    $.ajax({
                        url: urlBase,
                        type: 'POST',
                        contentType: "application/json",
                        data: JSON.stringify(this.entity)
                    }).then(res => {
                        if (res.code === '0') {
                            this.$message({
                                message: "保存成功",
                                type: "success"
                            });
                            this.loadTable();
                        } else {
                            this.$message({
                                message: res.msg,
                                type: "error"
                            })
                        }
                        this.entity = {}
                        $.get(urlBase + "/" + this.user.id).then(res => {
                            console.log(res)
                        })
                        console.log("res:" + res)
                        this.dialogFormVisible = false;
                    })
            },
            submit() {
                // console.log(this.entity)
                this.entity.submited = 1;
                this.entity.ufp=this.ufp;
                this.entity.tdi=this.tdi;
                    $.ajax({
                        url: urlBase,
                        type: 'POST',
                        contentType: "application/json",
                        data: JSON.stringify(this.entity)
                    }).then(res => {
                        if (res.code === '0') {
                            this.$message({
                                message: "保存成功",
                                type: "success"
                            });
                            this.loadTable();
                        } else {
                            this.$message({
                                message: res.msg,
                                type: "error"
                            })
                        }
                        this.entity = {}
                        $.get(urlBase + "/" + this.user.id).then(res => {
                            console.log(res)
                        })
                        console.log("res:" + res)
                        this.dialogFormVisible = false;
                    })
            },
            submitAgain() {
                console.log(this.entity)
                // this.entity.report_id = 1,
                this.entity.submited = 1;
                this.entity.ufp=this.ufp;
                this.entity.tdi=this.tdi;
                    $.ajax({
                        url: urlBase,
                        type: 'PUT',
                        contentType: "application/json",
                        data: JSON.stringify(this.entity)
                    }).then(res => {
                        if (res.code === '0') {
                            this.$message({
                                message: "保存成功",
                                type: "success"
                            });
                            this.loadTable();
                        } else {
                            this.$message({
                                message: res.msg,
                                type: "error"
                            })
                        }
                        this.entity = {}
                        $.get(urlBase + "/" + this.user.id).then(res => {
                            console.log(res)
                        })
                        console.log("res:" + res)
                        this.dialogFormVisible = false;
                    })
            },
        }
    })
</script>
</body>
</html>