<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title>成绩管理</title>
    <link rel="stylesheet" href="../../css/element.css">
    <link rel="stylesheet" href="../../css/base.css">
</head>
<body>
<div id="wrapper" v-cloak>
    <div style="padding-bottom: 10px">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item @click.native="parent.changeIndex('index')">首页</el-breadcrumb-item>
                <el-breadcrumb-item>成绩管理</el-breadcrumb-item>
            </el-breadcrumb>
        </div>

    <div style="height: 1px; margin: 10px 0; background-color: white"></div>
    <el-input size='small' v-model="search" style="width: 20%;" suffix-icon="el-icon-search" placeholder="请输入学生姓名"
              @keyup.enter.native="loadTable"></el-input>
<!--    <el-button size='small' @click="add" type="primary"  style="margin: 10px 0">新增</el-button>-->
<!--    <el-upload action="/files/upload" :on-success="successUpload" :show-file-list="false" style="display: inline-block">-->
<!--        <el-button size='small' type="primary">导入</el-button>-->
<!--    </el-upload>-->
    <el-button size='small' @click="exp" type="primary"  style="margin: 10px 0">导出成绩单</el-button>
    <el-table  border stripe style="width: 100%"
               :data="
      tableData.filter(
        (data) =>
          !search ||studentid.studentname.toLowerCase().includes(search.toLowerCase())
      )
    ">
        <el-table-column type="expand">
            <template #default="props">
                <h3>批改教师: {{ props.row.teachername }}</h3>
                <h3>批改时间: {{ props.row.time }}</h3>
                <h3>教师评语: {{ props.row.comment }}</h3>
            </template>
        </el-table-column>
        <el-table-column prop="studentid" label="学生学号"></el-table-column>
        <el-table-column prop="studentname" label="学生姓名"></el-table-column>
        <el-table-column prop="experiment" label="实验编号" sortable
                         :filters="[
        { text: '实验一', value: '1' },
        { text: '实验二', value: '2' },
        { text: '实验三', value: '3' },
        { text: '实验四', value: '4' },
        { text: '实验五', value: '5' },
      ]"
                         :filter-method="filterExperiment"></el-table-column>
        <el-table-column prop="score" label="最终得分"></el-table-column>

<!--        <el-table-column prop="teachername" label="批改教师"></el-table-column>-->
<!--        <el-table-column prop="comment" label="教师评语"></el-table-column>-->
<!--        <el-table-column prop="time" label="批改时间" width="250"></el-table-column>-->

        <el-table-column fixed="right" width="200" label="操作">
            <template slot-scope="scope">
                <el-button  type="warning" icon="el-icon-edit" circle @click="edit(scope.row)"></el-button>
                <el-popconfirm
                        @onConfirm="del(scope.row.id)"
                        title="确定删除？"
                >
                    <el-button  type="danger" icon="el-icon-delete" circle slot="reference" style="margin-left: 10px"></el-button>
                </el-popconfirm>
                <el-button  type="success" icon="el-icon-document" circle style="margin-left: 10px"></el-button>
            </template>
        </el-table-column>
    </el-table>
    <!-- 分页 -->
    <div style="background-color: white">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="pageNum"
                :page-sizes="[5, 10, 20, 40]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
    </div>

    <el-dialog title="成绩信息" :visible.sync="dialogFormVisible" width="40%"
               :close-on-click-modal="false">
        <el-form :model="entity">
            <el-form-item label="学生学号" label-width="120px">
                <el-input v-model="entity.studentid" autocomplete="off" style="width: 80%"></el-input>
            </el-form-item>
            <el-form-item label="学生姓名" label-width="120px">
                <el-input v-model="entity.studentname" autocomplete="off" style="width: 80%"></el-input>
            </el-form-item>
            <el-form-item label="实验编号" label-width="120px">
                <el-input v-model="entity.experiment" autocomplete="off" style="width: 80%"></el-input>
            </el-form-item>
            <el-form-item label="最终得分" label-width="120px">
                <el-input v-model="entity.score" autocomplete="off" style="width: 80%"></el-input>
            </el-form-item>
            <el-form-item label="批改教师" label-width="120px">
                <el-input v-model="entity.teachername" autocomplete="off" style="width: 80%"></el-input>
            </el-form-item>
            <el-form-item label="教师评语" label-width="120px">
                <el-input v-model="entity.comment" autocomplete="off" style="width: 80%"></el-input>
            </el-form-item>
            <el-form-item label="批改时间" label-width="120px">
                <el-date-picker style="width: 80%" v-model="entity.time" type="datetime" value-format="yyyy-MM-dd HH:mm:ss" placeholder="选择日期时间"></el-date-picker>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="save">确 定</el-button>
        </div>
    </el-dialog>
</div>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/vue.min.js"></script>
<script src="../../js/element.js"></script>
<script src="../../js/tinymce/tinymce.min.js"></script>


<script>

    let urlBase = "/api/score/";
    new Vue({
        el: "#wrapper",
        data: {
            options: [],
            fileList: [],
            user: {},
            tableData: [],
            pageNum: 1,
            pageSize: 10,
            total: 0,
            dialogFormVisible: false,
            entity: {},
            isCollapse: false,
            search: '',
        },
        created() {
            this.user = sessionStorage.getItem("user") ? JSON.parse(sessionStorage.getItem("user")) : {};
            this.loadTable();
        },
        methods: {
            //筛选过滤器
            resetFilter() {
                this.$refs.clearFilter('experiment')
            },
            clearFilter() {
                this.$refs.clearFilter()
            },
            filterExperiment(value, row) {
                row.experiment = undefined;
                return row.experiment === value
            },

            fileSuccessUpload(res) {
                this.entity.file = "http://localhost:9999/files/" + res.data;
                this.entity.img = "http://localhost:9999/files/" + res.data;
                console.log(res)
            },
            successUpload(value) {
                $.get("/api/score/upload/" + value.data).then(res => {
                    if (res.code === '0') {
                        this.$message({
                            message: "导入成功",
                            type: "success"
                        });
                        this.loadTable()
                    }
                })
            },
            changeState(obj, state) {  // 审核
                this.entity = JSON.parse(JSON.stringify(obj));
                this.entity.state = state;
                this.save();
            },
            handleCollapse() {
                this.isCollapse = !this.isCollapse;
            },
            logout() {
                $.get("/api/user/logout");
                sessionStorage.removeItem("user");
                location.href = "/page/end/login.html";
            },
            loadTable() {
                $.get(urlBase + "/page?pageNum=" + this.pageNum + "&pageSize=" + this.pageSize + "&name=" + this.search).then(res => {
                    this.tableData = res.data.records;
                    this.total = res.data.total;
                })

                 // $.get("/api/").then(res => {
                    // this.options = res.data;
                 // })
            },
            exp() {   // excel 导出
                window.open(urlBase + "/export");
            },
            handleSizeChange(pageSize) {
                this.pageSize = pageSize;
                this.loadTable();
            },
            handleCurrentChange(pageNum) {
                this.pageNum = pageNum;
                this.loadTable();
            },
            add() {
                this.entity = {};
                this.fileList = [];
                this.dialogFormVisible = true;
            },
            save() {
                let type = this.entity.id ? "PUT" : "POST";
                $.ajax({
                    url: urlBase,
                    type: type,
                    contentType: "application/json",
                    data: JSON.stringify(this.entity)
                }).then(res => {
                    if (res.code === '0') {
                        this.$message({
                            message: "保存成功",
                            type: "success"
                        });
                    } else {
                        this.$message({
                            message: res.msg,
                            type: "error"
                        })
                    }
                    this.loadTable();
                    this.dialogFormVisible = false;
                })
            },
            edit(obj) {
                this.entity = JSON.parse(JSON.stringify(obj));
                this.fileList = [];
                this.dialogFormVisible = true;
            },
            del(id) {
                $.ajax({
                    url: urlBase + id,
                    type: "delete"
                }).then(res => {
                    if (res.code === '0') {
                        this.$message({
                            message: "删除成功",
                            type: "success"
                        })
                        this.loadTable();
                    } else {
                        this.$message({
                            message: res.msg,
                            type: "error"
                        })
                    }
                })
            }
        }
    })
</script>
</body>
</html>
